.summary-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.summary-page-header h1 {
  margin-bottom: 1rem;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
}

.amount-cell {
  text-align: right;
}

.percentage-cell {
  text-align: right;
}
